

@import "public.less";



.rg-container{
  width: 100%;
  min-height: 600px;
  background: #f7f7f7;
  padding-bottom: 100px;
  margin-bottom: 100px;
  margin-top: 10px;
  border: solid 1px darken(#f7f7f7,10%);

  h3{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .step{
    width: 100%;
    height: 40px;
    background: #f0f0f0;

    li{
        line-height:40px;
        vertical-align: middle;
        margin-left: 6%;
        padding-left: 10px;
        padding-right: 10px;
        float: left;
    }
    .step-1{
      background: #2681D5;
      color: white;
    }
  }
  .offer-verify{
    width: 100%;
    padding-left: 40%;

    input{
      width: 140px;
      height: 24px;
    }

    button{
      height: 32px;
      width: 120px;
      background: #2681D5;
      color: white;
    }
  }

  .rg-content{
    margin-top: 30px;
  }
  .rg-form-group{
    width: 400px;
    margin: 0 auto;
    font-family: 'Microsoft Yahei', Simsun;
    font-size: 14px;

    .form-item{
      width: 100%;
      height: 64px;

      span{
        margin-right: 20px;
        float: left;
        text-align: right;
      }

      input[type="text"],input[type="file"],input[type="password"]{
        width: 180px;
        height: 20px;
        float: right;
      }

      .form-item-addon{
        width: 190px;
        float: right;
        span{
          margin: 0;
          margin-left: 20px;
        }
        input{
          float: left;
        }

        .form-item-addons{
          width: 100%;
          height: 26px;
          margin: 0;
          line-height: 28px;
          vertical-align: middle;
          text-align: center;
          background: #f0f0cc;
          border-top:solid 2px darken(#f0f0cc,20%);
          border-left:solid 2px darken(#f0f0cc,20%);
          font-size: 13px;
          color:#333;
        }
      }
    }
  }

  .form-submit{
    width: 400px;
    margin: 0 auto;
    font-family: 'Microsoft Yahei', Simsun;
    font-size: 14px;
    margin-top: 80px;

    button{
      width: 120px;
      height: 30px;
      margin-left: 40px;
    }

    .rg-submit{
      background: #2681D5;
      color: white;

    }
  }
}