

@import "public.less";



.rg-container{
  width: 100%;
  min-height: 300px;
  background: white;
  padding-bottom: 100px;
  margin-bottom: 100px;
  margin-top: 10px;
  border: solid 1px #f7f7f7;

  h3{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .step{
    width: 100%;
    height: 40px;
    background: #f0f0f0;

    li{
        line-height:40px;
        vertical-align: middle;
        margin-left: 4%;
        padding-left: 10px;
        padding-right: 10px;
        float: left;
        font-size: 13px;
    }
    .step-active{
      background: #2681D5;
      color: white;
    }
  }
  .offer-verify{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;

    span{
      width: 80px;
      font-size: 13px;
      display: inline-block;
    }

    input{
      width: 200px;
      height: 24px;
      margin-left: auto;
    }

    .error{
      margin-left: 80px;
      color:red;
    }
    button{
      height: 32px;
      width: 300px;
      background: #2681D5;
      color: white;
      display: block;
      margin-top: 50px;
    }
  }

  .rg-content{
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  .rg-form-group{
    font-family: 'Microsoft Yahei', Simsun;
    font-size: 14px;

    .form-item{
      height: 64px;
      font-size: 13px;
      .item-title{
        width: 160px;
        text-align: right;
        padding-right: 20px;
      }

        big{
          color:red;
        }

      input[type="text"],input[type="file"],input[type="password"],input[type="number"]{
        width: 180px;
        height: 20px;

        &::-webkit-inner-spin-button{
          -webkit-appearance: none;
        }
      }
      span{
        font-size: 12px;
      }
      label{
        width: 190px;
        height: 16px;
        display: block;
        font-size: 12px;
        color: red;
      }

      #verify{
        width: 80px;
        border-top:solid 1px inherit;
        border-bottom:solid 1px inherit;
      }

      .get-verify{
        width: 100px;
        height: 28px;
        line-height: 28px;
        vertical-align: middle;
        text-align: center;
        background: #2681D5;
        border-top:solid 1px #2681D5;
        color: white;
        font-size: 12px;
        display: inline-block;
        margin-left: -4px;
        &:hover{
          cursor:pointer;
        }
      }

      select{
        width: 100px;
        height: 26px;
        overflow-y: auto;
      }
    }
  }



  .form-submit{
    width: 100%;
    margin: 0 auto;
    font-family: 'Microsoft Yahei', Simsun;
    font-size: 14px;
    margin-top: 80px;

    input[type="submit"]{
      height: 32px;
      width: 340px;
      border: 0;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      background: #2681D5;
      color: white;
      display: block;
    }


  }
}


.rg-result{
  width: 50%;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
}