<!DOCTYPE html>
<html>
<body>

<script id="act-code" type="text/html">
    <table>
        <tr >
            <td>序号</td>
            <td>图片</td>
            <td>链接地址</td>
            <td>展示位置</td>
            <td>到期时间</td>
            <td class="op">操作</td>
        </tr>
        {{each list as value i}}
        <tr>
            <td class="index">{{i+1+paged.index_start}}</td>
            <td ><img src={{value.img}} alt=""></td>
            <td>{{value.pos}}</td>
            <td>{{value.displaydays}}</td>
            <td>{{value.publishtime}}</td>
            <td class="op">
                <button class="edit">编辑</button>
                <button class="del"> 删除</button>
            </td>
        </tr>
        {{/each}}
    </table>
</script>

<div class="art-tt">
    <div class="ad-menu">
        <ul>
            <li><a class="ad-next" href="adshow.html">当前广告</a></li>
            <li><a class="ad-next" href="adadd.html">广告添加</a></li>
        </ul>
    </div>
    <div class="at-li">
    </div>
</div>


<script src="__ROOT__/Application/Home/View/styles/jquery/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){

        $(".at-li").load('adshow',function(data,status,xhr){
            var ret=JSON.parse(data);
            if(ret.status==0){
                window.location.href="../Index/login.html"
            }
        });


        $('.ad-next').click(function(){

            $(".at-li").load($(this).attr("href"),function(data,status,xhr){
                var ret=JSON.parse(data);
                if(ret.status==0){
                    window.location.href="../Index/login.html"
                }
            });

            return false;
        });

    });
</script>
</body>
</html>