<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>{$bbs_title}</title>
    <!-- Bootstrap -->
    <link href="__ROOT__/Application/Home/View/Index/styles/admin.less" rel="stylesheet/less">
</head>
<body>
<!--导航栏 -->

<div class="nav-ad">
    <div>
        欢迎使用木鱼后台管理系统
    </div>
</div>
<div class="sub-nav">
    <ul>
        <li><a href="bbs.html">板块管理</a></li>
        <li><a href="user.html">用户管理</a></li>
        <li><a href="th.html">主题管理</a></li>
        <li><a href="offer.html">邀&nbsp;请&nbsp;码</a></li>
        <li><a href="reply.html">回复管理</a></li>
        <li><a href="ad.html">广告管理</a></li>
        <li><a href="config.html">配置管理</a></li>
        <li><a href="config.html">订单管理</a></li>
        <li><a href="config.html">充值记录</a></li>
    </ul>
</div>

<div class="ad-body">
    <div class="ad-top">
        <h3 class="ad-head"></h3>
    </div>
    <div class="ad-content">
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__ROOT__/Application/Home/View/styles/jquery/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="__ROOT__/Application/Home/View//styles/lesscss/less.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){

        $(".ad-content").load("user.html",function(data,status,xhr){
            var ret=JSON.parse(data);
            if(ret.status==0){
                window.location.href="../Index/login.html"
            }
        });

        $(".ad-head").text("用户管理");

        $(".sub-nav li a").click(function(){

            $(".sub-nav li a").css("font-size","14px");
            $(".sub-nav li a").css("background","#E6F2FB");

            $(this).css("font-size","16px");
            $(this).css("background","#F7FBFE");


            $(".ad-head").text($(this).text());

            $(".ad-content").load($(this).attr("href"),function(data,status,xhr){
                var ret=JSON.parse(data);
                if(ret.status==0){
                    window.location.href="../Index/login.html"
                }
            });
            return false;
        })
    });
</script>
</body>
</html>