<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$bbs_title}</title>
    <!-- Bootstrap -->
    <link href="__ROOT__/Application/Home/View/Index/styles/admin.css" type="text/css" rel="stylesheet">
    <link href="__ROOT__/Application/Home/View/styles/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
</head>
<body>
<!--导航栏 -->

<div class="nav-ad">
    <div class="nav-left">
        欢迎使用后台管理系统
    </div>
    <div class="nav-right">
        <span>欢迎管理员-{$admin['name']}！</span>
        <a href="logout">退出</a>
    </div>
</div>
<div class="sub-nav">
    <ul>
        <li><a href="bbs.html">板块管理</a></li>
        <li><a href="user.html">用户管理</a></li>
        <li><a href="th.html">主题管理</a></li>
        <li><a href="offer.html">邀&nbsp;请&nbsp;码</a></li>
        <li><a href="reply.html">回复管理</a></li>
        <li><a href="config.html">配置管理</a></li>
        <li><a href="book.html">刷单记录</a></li>
        <li><a href="charged.html">充值记录</a></li>
        <li><a href="rights.html">权&nbsp;益&nbsp;表</a></li>
        <li><a href="tutorial.html" >编辑教程</a></li>
        <if condition="$admin['account'] eq 'admin' ">
            <li><a href="root.html" >管理员管理</a></li>
        </if>
        <li><a href="ad.html" >广告管理</a></li>
    </ul>
</div>

<div class="ad-body">
    <div class="ad-top">
        <h3 class="ad-head"></h3>
    </div>
    <div class="ad-content">
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__ROOT__/Application/Home/View/styles/jquery/jquery.min.js"></script>
<script src="__ROOT__/Application/Home/View/styles/jquery/jquery.form.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="__ROOT__/Application/Home/View/styles/umeditor/umeditor.config.js"></script>
<script src="__ROOT__/Application/Home/View/styles/umeditor/umeditor.js"></script>

<script type="text/javascript">
    var ue =0;

    function tutor_edit(){

        ue =UM.getEditor('container');

        $('.save-tutor').click(function(){
            var content = ue.getContent();
            $.post('./tutorial_post',{content:content},function(data,status){
                if(data.status==1){
                    $('.tutor-error').text('保存成功');
                }else{
                    $('.tutor-error').text(data.error);
                }
            });
        });
    }

    $(document).ready(function(){
        $(".ad-content").load("bbs.html",function(data,status,xhr){
            var ret=JSON.parse(data);
            if(ret.status==0){
                location.href="./login.html"
            }
        });

        $(".ad-head").text("用户管理");

        $(".sub-nav li a").click(function(){

            $(".sub-nav li a").css("font-size","14px");
            $(".sub-nav li a").css("background","#E6F2FB");

            $(this).css("font-size","16px");
            $(this).css("background","#F7FBFE");


            $(".ad-head").text($(this).text());

            var href =$(this).attr("href");

            $(".ad-content").load(href,function(data,status,xhr){
                if(href =='tutorial.html'){
                    tutor_edit();
                }

                var ret = JSON.parse(data);
                if(ret.status==0){
                    location.href="login.html"
                }
            });
            return false;
        })
    });
</script>
</body>
</html>