<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>{$bbs_title}</title>
    <!-- Bootstrap -->
    <link href="__ROOT__/Application/Home/View/Index/styles/admin.less" rel="stylesheet/less">
</head>
<body>



<div class="config">
    <div class="conf_container">
    </div>
    <div class="conf-page-turn">

    </div>
    <div class="config-bot">
        <span class="page-info" style="font-size: 14px"></span>
        <button class="page-down">上一页</button>
        <button class="page-up">下一页</button>
        <button class="config-add">添加板块</button>
        <button class="config-save">保存配置</button>
    </div>
    
    <div>

    </div>
</div>

<!--//配置加载模板-->
<script id="conf-load-tpl" type="text/html">
    {{each config.data as value k}}
    {{if (k%num)==0}}
    <div>
        <table class="conf_page" style="width: 95%">
            <tbody>
            <tr class="nav-tr">
                <td >序号</td>
                <td >板块名(双击修改)</td>
                <td >父板块(双击修改)</td>
                <td >板块说明(双击修改)</td>
            </tr>
            {{/if}}
            <tr class="tr-key">
                <td class="index">{{config.cur_index+k+1}}</td>
                <td class="key td-chg" style="width: 30%">{{value.name}}</td>
                {{if value.pid==0}}
                    <td class="parent td-chg" style="color: red">顶级板块</td>
                {{else}}
                    <td class="parent td-chg">{{config.source[value.pid-1].name}}</td>
                {{/if}}
                <td class="td-chg">{{value.comm}}</td>
            </tr>
            {{if (!((k+1)%num) ||(config.data.length==(k+1)) ) }}

            </tbody>
        </table>
    </div>
    {{/if}}
    {{/each}}
</script>


<script src="__ROOT__/Application/Home/View/styles/jquery/jquery.min.js"></script>
<script src="__ROOT__/Application/Home/View//styles/lesscss/less.min.js"></script>
<script src="__ROOT__/Application/Home/View//styles/arttemplate/template.js"></script>
<script src="__ROOT__/Application/Home/View//admin/js/paged.js"></script>

<script type="text/javascript">
    var config= new Object();

    function config_to_html(){
        var list ={config:config,num:10};
        var html = template('conf-load-tpl', list);
        $(".conf_container").html(html);

        var t = "总共："+config.total+"页,当前第"+config.cur+"页。";
        $(".page-info").text(t);

        $(".td-chg").dblclick(function(){
            config_chg(this);
        });
    }

    function config_get_id_by_name(name){
        if(name=="顶级板块"){
            return 0;
        }

        for( var i=0; i<config.source.length;i++){
            if(config.source[i].name==name){
                return config.source[i].id;
            }
        }

        return -1;
    };

    function config_chg(col){
        var text = $(col).text();
        $(col).text("");
        var e =document.createElement("input");
        e.type  = "text";
        e.value = text;

        $(e).addClass("key-in");
        $(col).append(e);

        $(e).focus();

        $(col).unbind("dblclick");

        $(e).blur(function(){
            var t = $(this).val();
            var td = $(this).parent();
            var tr = $(td).parent();

            $(td).text(t);
            var index = parseInt($(td).parent().find(".index").text())-1;

            $.each($(tr).children(),function(key,item){
                if($(item).text()===t){
                    if(key==1){
                        //改名字
                        config.source[index].name = t;
                    }else if(key==2){
                    //改父板块
                        var pid = config_get_id_by_name(t);
                        if(pid!=-1)
                            config.source[index].pid = pid;
                    }else{
                     //改说明
                        config.source[index].comm = t;
                    }
                }
            });

            config.page_turn(config.cur);
            config_to_html();

            $(td).dblclick(function(the){
                config_chg(td);
            });
        });
    }


    //加载配置列表
    function config_load(){
        $.get("bbs_blk_load",function(data,status){
            if(data.status==1){
                config = data_paged(data.config,10);
                config.page_turn(1);
                config_to_html();
            }else{
                alert("配置加载失败");
            }
        })
    }

    $(document).ready(function(){

        config_load();

        $(".config-add").click(function(){
            var data = {attr:"new",name:"双击修改",pid:"0",comm:"双击修改"};
            config.add(data);
            config.page_turn(config.total);
            config_to_html();
        });

        $(".page-up").click(function(){
            config.page_turn("up");
            config_to_html();
        });

        $(".page-down").click(function(){
            config.page_turn("down");
            config_to_html();
        });

        $(".config-save").click(function(){
            $.post("./bbs_blk_post",{
                config:config.source
            },function(data,status){
                if(data.status==1){
                    alert("添加配置成功");
                }else{
                    alert("添加配置失败")
                }
            });
        });
    });
</script>
</body>
</html>