<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>{$bbs_title}</title>
    <!-- Bootstrap -->
    <link href="__ROOT__/Application/Home/View/Index/styles/admin.less" rel="stylesheet/less">
    <link href="__ROOT__/Application/Home/View/Index/styles/charge.less" rel="stylesheet/less">
</head>
<body>
    <div class="charge">
        <div>
            <span>提示信息:</span>
            <span>当前兑换规则:1￥=<span class="bit">{$bit}</span>彩虹币。</span>
        </div>

        <div >
            <span >充&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;值:</span>
            <input Type="number"  required placeholder="充值金额" class="input">

        </div>
        <div>
            <span >彩&nbsp;虹&nbsp;币:</span>
            <label class="total">0</label>
        </div>
        <div class="sel">
            <div>
                <button class="rmb">10</button>
                <button class="rmb">20</button>
                <button class="rmb">30</button>
            </div>
            <div>
                <button class="rmb">50</button>
                <button class="rmb">100</button>
                <button class="rmb">200</button>
            </div>
            <div>
                <button class="rmb">500</button>
                <button class="rmb">1000</button>
                <button class="rmb">2000</button>
            </div>
        </div>
        <div >
            <button class="charge">去付款</button>
        </div>
    </div>

    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="__PUBLIC__/styles/lesscss/less.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            var money=0;
            var old="";
            var bit =parseInt($(".bit").text());
            if(isNaN(bit)){
                bit=10;
            }

            $(".rmb").click(function(){
                var value = parseInt($(this).text());

                money = value + money;

                var str = money+"*"+bit+"="+ money*bit+"彩虹币";

                $(".total").text(str);
                $(".input").val(money);
            });

            $(".input").bind("input propertychange",function(){
                money=parseInt($(this).val());
                if(isNaN(money)){
                    var str = "未输入";
                    money=0;
                }else
                    var str = money+"*"+bit+"="+ money*bit+"彩虹币";
                $(".total").text(str);
            });
        });
    </script>
</body>
</html>