<!DOCTYPE html>
<html>

<style type="text/css">

</style>
<body>

    <script id="act-code" type="text/html">
        <table class="conf_page">
            <tr class="nav-tr">
                <td>序号</td>
                <td>邀请码</td>
            </tr>
            {{each list as value i}}
            <tr class="tr-key">
                <td style="width: 10%">{{i+1}}</td>
                <td >{{value}}</td>
            </tr>
            {{/each}}
        </table>
    </script>

    <div class="config">
        <div class="offer-in">
            <input type="number" placeholder="邀请码个数(不超过10)" maxlength="2"/>
            <button>生成邀请码</button>
        </div>


        <div class="conf_container">
        </div>
    </div>

    <script src="__ROOT__/Application/Home/View/styles/jquery/jquery.min.js"></script>
    <script src="__ROOT__/Application/Home/View//styles/lesscss/less.min.js"></script>
    <script src="__ROOT__/Application/Home/View//styles/arttemplate/template.js"></script>
    <script src="__ROOT__/Application/Home/View//admin/js/paged.js"></script>
    <script type="text/javascript">

     $(document).ready(function(){

         $('.offer-in input').bind('input propertychange',function(){
             max = $(this).attr('maxlength');
             if(!max) return;

             value = $(this).val().toString();

             if(value.length>max){
                 value = value.substr(0,max);
                 if($(this).attr('type')=='number'){
                     $(this).val(parseInt(value));
                 }else{
                     $(this).val(value);
                 }
             }
         });

         $(".offer-in button").click(function(){
             var code_num =parseInt($(".offer-in input").val());

             if(code_num>0){

                 if(code_num>10) code_num=10;

                 $.post("../User/active_code",
                     {num:code_num},
                     function(data,status){
                         if(data.status==1){
                            var list ={list:data.act_code};
                             var html = template('act-code', list);
                             if(html){
                                 $(".conf_container").html(html);
                             }
                         }else{
                             alert("failed");
                         }
                     });
             }
         });
     });
    </script>
</body>
</html>