<!DOCTYPE html>
<html>

<style type="text/css">
    <link href="__ROOT__/Application/Home/View/Index/styles/admin.less" rel="stylesheet/less">
    <link href="__ROOT__/Application/Home/View/Index/styles/charge.less" rel="stylesheet/less">
    <link href="__ROOT__/Application/Home/View/Index/styles/actcode.less" rel="stylesheet/less">
</style>
<body>

<script id="act-code" type="text/html">
    <table>
        <tr >
            <td>序号</td>
            <td>评论内容</td>
            <td>作者</td>
            <td>发表时间</td>
            <td class="op">操作</td>
        </tr>
        {{each list as value i}}
        <tr>
            <td class="index">{{i+1+paged.index_start}}</td>
            <td class="reply-content">{{value.content}}</td>
            <td>{{value.author}}</td>
            <td>{{value.commenttime}}</td>
            <td class="op" replyid={{value.id}}>
                <button class="del">删除</button>
            </td>
        </tr>
        {{/each}}
    </table>
    <div>
        <span>总共{{paged.page_total}}页,</span>
        <span>当前第{{paged.cur_page}}页。</span>
        {{if paged.cur_page>1}}
        <button class="pre-page">上一页</button>
        {{/if}}
        <ul class="th-menu">
            {{each paged.menus as value i}}
            <li><button class="loc-page">{{value}}</button></li>
            {{/each}}
        </ul>
        {{if paged.page_total>paged.cur_page}}
        <button class="next-page">下一页</button>
        {{/if}}
    </div>
</script>

<div class="art-tt">
    <div class="at">
        <div class="se">
            <span>检索条件----</span>
            <select class="fist" style="width: 60px">
                <option value="0">作者</option>
                <option value="1">主题</option>
            </select>
            <input class="write" type="text" placeholder="评论者/主题"/>
            <button>查询</button>
        </div>
    </div>

    <div class="at-li">
    </div>
</div>

<script src="__ROOT__/Application/Home/View/styles/jquery/jquery.min.js"></script>
<script src="__ROOT__/Application/Home/View//styles/lesscss/less.min.js"></script>
<script src="__ROOT__/Application/Home/View//styles/arttemplate/template.js"></script>


<script type="text/javascript">

    //请求文章的关键词
    var key ={
        per_page_num :10,
        menu_num :10,
        cur_page:1,
        first :'',
        name :''
    };

    function reply_op(reply,op){
        var id =$(reply).parent().attr('replyid');
        $.post("./reply_op",{replyid:id,opcode:op},function(data,status){
            if(data.status==1){
                reply_search();
            }
        })
    }

    function template_dom_init(data){

        //生成模板
        var list ={list:data.reply,paged:data.paged};
        var html = template('act-code', list);
        $(".at-li").html(html);
        $('.reply-content').each(function(){
            var text = $(this).text();
            $(this).html(text);
        });
        $(".next-page").click(function(){
            key.cur_page++;
            reply_search();
        });

        $(".pre-page").click(function(){
            key.cur_page--;
            reply_search();
        });

        $(".loc-page").click(function(){
            key.cur_page = $(this).text();
            reply_search();
        });


        //删除一篇文章操作，先请求服务器删除，服务器删除成功后，再在页面去掉该文章
        $(".del").click(function(){
            reply_op(this,'delete');
        });
    }

    function reply_search(){
        $.post("./reply_search",
                {key:key},
                function(data,status){
                    if(data.status==1){
                        template_dom_init(data);
                    }else{
                        $(".at-li").html(data.error);
                    }
                });
    }

    $(document).ready(function(){
        reply_search('','');
        $(".at button").click(function(){
            key.first = $(".fist").val();
            key.name =$(".write").val();
            key.cur_page =1;
            reply_search();
        });
    });

</script>
</body>
</html>