<!DOCTYPE html>
<html>


<link href="__ROOT__/Application/Home/View/Index/styles/admin.less" rel="stylesheet/less">


<body>

<script id="act-code" type="text/html">
    <table>
        <tr class="tr-title">
            <td>序号</td>
            <td>名字</td>
            <td>注册时间</td>
            <td>省份</td>
            <td>地址</td>
            <td>vip等级</td>
            <td>服务到期时间</td>
            <td>彩虹糖</td>
            <td>彩虹豆</td>
            <td>审核</td>
            <td>状态</td>
            <td class="op">操作</td>
        </tr>
        {{each list as value i}}
        <tr>
            <td class="index">{{i+1+paged.index_start}}</td>
            <td ><a class="user-name" href={{'audit.html?id='+value.id}}>{{value.name}}</a></td>
            <td>{{value.regtime}}</td>
            <td>{{value.area}}</td>
            <td>{{value.address}}</td>
            <td>{{value.viplevel}}</td>
            <td>{{value.serverdate}}</td>
            <td>{{value.cht}}</td>
            <td>{{value.chd}}</td>
            <td>{{value.isaudit}}</td>
            <td>{{value.status}}</td>
            <td userid={{value.id}} class="op">
                <button class="freeze">冻结</button>
                <button class="nofreeze">解除</button>
                <button class="del">删除</button>
            </td>
        </tr>
        {{/each}}
    </table>
    <div>
        <span>总共{{paged.page_total}}页,</span>
        <span>当前第{{paged.cur_page}}页。</span>
        {{if paged.cur_page>1}}
        <button class="pre-page">上一页</button>
        {{/if}}
        <ul class="th-menu">
            {{each paged.menus as value i}}
            <li><button class="loc-page">{{value}}</button></li>
            {{/each}}
        </ul>
        {{if paged.page_total>paged.cur_page}}
        <button class="next-page">下一页</button>
        {{/if}}
    </div>
</script>

<div class="art-tt">
    <div class="at">
        <div class="se">
            <span>检索条件----</span>
            <span>名字:</span>
            <input class="name" type="text" placeholder="名字"/>
            <span>审核:</span>
            <select name="" id="" class="audit">
                <option value="0">未审核</option>
                <option value="1">已审核</option>
                <option value="2" selected>全部</option>
            </select>
            <span>状态:</span>
            <select name="" id="" class="status">
                <option value="0">正常</option>
                <option value="1">冻结</option>
                <option value="2" selected>全部</option>
            </select>
            <span>操作端状态:</span>
            <select name="" id="" class="op_status">
                <option value="0">离线</option>
                <option value="1">空闲</option>
                <option value="2">忙碌</option>
                <option value="3" selected>全部</option>
            </select>
            <span>共享端状态:</span>
            <select name="" id="" class="share_status">

                <option value="0">离线</option>
                <option value="1">空闲</option>
                <option value="2">忙碌</option>
                <option value="3" selected>全部</option>
            </select>
            <button>查询</button>
        </div>
    </div>
    <div class="info">
        <span class="query"></span>
    </div>
    <div class="at-li">
    </div>
</div>

<script src="__ROOT__/Application/Home/View/styles/jquery/jquery.min.js"></script>
<script src="__ROOT__/Application/Home/View//styles/lesscss/less.min.js"></script>
<script src="__ROOT__/Application/Home/View//styles/arttemplate/template.js"></script>


<script type="text/javascript">

    //请求文章的关键词
    var key ={
        per_page_num :20,
        menu_num :10,
        cur_page:1,
        name :'',
        audit:'2',
        status:'2',
        op_status:'3',
        share_status:'3'
    };

    function user_op(user,op){
        var id =$(user).parent().attr('userid');
        $.post("./user_op",{userid:id,opcode:op},function(data,status){
            if(data.status==1){
                user_search();
            }
        })
    }

    function template_dom_init(data){

        //生成模板
        var list ={list:data.user,paged:data.paged};
        var html = template('act-code', list);
        $(".at-li").html(html);

        $(".next-page").click(function(){
            key.cur_page++;
            user_search();
        });

        $(".pre-page").click(function(){
            key.cur_page--;
            user_search();
        });

        $(".loc-page").click(function(){
            key.cur_page = $(this).text();
            user_search();
        });

        $(".user-name").click(function(){
            var url = $(this).attr('href');
            $(".at-li").load(url,function(data,status,xhr){
                var ret=JSON.parse(data);
                if(ret.status==0){
                    window.location.href="../Index/login.html"
                }
            });
            return false;
        });

        //删除一篇文章操作，先请求服务器删除，服务器删除成功后，再在页面去掉该文章
        $(".del").click(function(){
            user_op(this,'delete');
        });

        $(".freeze").click(function(){
            user_op(this,'freeze');
        });

        $(".nofreeze").click(function(){
            user_op(this,'nofreeze');
        });
    }

    function user_search(){
        var query = "当前检索条件为：";
        if(key.name.length>0){
            query+="姓名："+key.name+",";
        }

        if(key.audit==0){
            query+="审核状态：未审核,";
        }else if(key.audit==1){
            query+="审核状态：已审核,";
        }else{
            query+="审核状态：全部,";
        }

        if(key.status==0){
            query+="状态：正常,";
        }else if(key.status==1){
            query+="状态：冻结,";
        }else {
            query+="状态：全部,";
        }


        if(key.op_status==0){
            query+="操作端状态：离线,";
        }else  if(key.op_status==1){
            query+="操作端状态：空闲,";
        }else if(key.op_status==2){
            query+="操作端状态：忙碌,";
        }else {
            query+="操作端状态：全部,";
        }

        if(key.share_status==0){
            query+="共享端状态：离线.";
        }else  if(key.share_status==1){
            query+="共享端状态：空闲.";
        }else if(key.share_status==2){
            query+="共享端状态：忙碌.";
        }else{
            query+="共享端状态：全部.";
        }


        $(".query").text(query);

        $.post("./user_search",
                {key:key},
                function(data,status){
                    if(data.status==1){
                        template_dom_init(data);
                    }else{
                        $(".at-li").text("在此查询条件下,没有查询到用户数据.");
                    }
                });
    }

    $(document).ready(function(){
        user_search();
        $(".at button").click(function(){
            key.name = $(".name").val();
            key.audit = $(".audit").val();
            key.status = $(".status").val();
            key.op_status = $(".op_status").val();
            key.share_status = $(".share_status").val();
            key.cur_page =1;
            user_search();
        });
    });

</script>
</body>
</html>