<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>{$bbs_title}</title>
    <!-- Bootstrap -->
    <link href="__ROOT__/Application/Home/View/Index/styles/userinfo.less" rel="stylesheet/less">
</head>
<body>

    <table>
        <tr>
            <th>用户昵称</th>
            <td>{$user["name"]}</td>
        </tr>
        <tr>
            <th>电话号码</th>
            <td>{$user["phone"]}</td>
        </tr>
        <tr>
            <th>VIP等级</th>
            <td>{$user["level"]}</td>
        </tr>
        <tr>
            <th>彩虹币</th>
            <td>{$user["vmoney"]}</td>
        </tr>
    </table>
    <button>修改</button>

<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="__PUBLIC__/styles/lesscss/less.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){

    });
</script>
</body>
</html>