<!DOCTYPE html>
<html lang="zh-CN" ng-app="artAddApp" ng-controller="artAddCtrl">
<head>
    <meta charset="UTF-8">
    <title>{$bbs_title}</title>
    <!-- Bootstrap -->
    <link href="__ROOT__/Application/Home/View/Index/styles/article_add.css" rel="stylesheet">
    <link href="__PUBLIC__/styles/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!--导航栏 -->
    <include file="./Application/Home/View/Index/header.html" />

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="ac">
                    <div>
                        <h4>发表新主题</h4>
                    </div>
                    <div class="am">
                        <input type="text" ng-model="article_title" class="rg-input" id="" name=""  placeholder="标题" data-required="required" autocomplete="off" >
                        <div class="blk">
                            <li>{{cur_blk}}
                                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            </li>
                            <ul  ng-init="blkList=['最新','热门','精华']">
                                <li ng-repeat="blk in blkList" ng-click="blk_set()">{{blk}}</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <script id="container" name="content" type="text/plain" style="width:100%;height:400px;">我觉得我可以发表了</script>
                    </div>
                    <div>
                        <button class="am-btn" ng-click="article_add()">发表帖子</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/styles/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/styles/umeditor/umeditor.config.js"></script>
    <script src="__PUBLIC__/styles/umeditor/umeditor.js"></script>
    <script src="__PUBLIC__/styles/angular-1.4.0/angular.js"></script>
    <script src="__PUBLIC__/styles/lesscss/less.min.js"></script>



    <script type="text/javascript">
        var ue;

        $(document).ready(function(){
            //初始化输入区域
            ue = UM.getEditor('container');
        });

        var app = angular.module('artAddApp', []);
        app.controller('artAddCtrl', function($scope,$http) {
            $scope.time_to_jump=3;
            $scope.cur_blk = '选择板块';
            $scope.article_title="我发表的第一篇文章"

            $scope.blk_set=function(){
                $scope.cur_blk=this.blk;
            };

            $scope.article_add=function(){
                if(!ue) return;

                var title = $scope.article_title;
                var content= ue.getContent();

                $http.post(
                        "../article/article_add_post",
                        {
                            "title":$scope.article_title,
                            "content":ue.getContent()
                        }
                ).success(function(data, status, headers, config) {
                    // this callback will be called asynchronously
                    // when the response is available
                    if(data.status=="success"){
                        window.location.href=data.url;
                    }else{
                        alert(data);
                    }
                }).error(function(data, status, headers, config) {
                    // called asynchronously if an error occurs
                    // or server returns response with an error status.
                    alert(data);
                });

            };
        });
    </script>
</body>
</html>