<!DOCTYPE html>
<html lang="zh-CN" ng-app="articleApp" ng-controller="articleCtrl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$bbs_title}</title>
    <!-- Bootstrap -->
    <link href="__ROOT__/Application/Home/View/Index/styles/download.css" type="text/css" rel="stylesheet">
    <link href="__ROOT__/Application/Home/View/styles/Font-Awesome-3.2.1/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!--导航栏 -->
    <include file="./Application/Home/View/Index/header.html" />

    <div class="wrapper">
        <div class="container">
            <span>欢迎使用彩虹桥云端刷单软件</span>
            <a href="__ROOT__/Application/Home/View/data/彩虹桥云端刷单软件.zip">点击下载</a>
        </div>
    </div>

    <include file="./Application/Home/View/Index/footer.html" />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__ROOT__/Application/Home/View/styles/jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->


    <script type="text/javascript">
        $(document).ready(function(){
        });

    </script>

</body>
</html>