<!DOCTYPE html>
<html lang="zh-CN" ng-app="articleApp" ng-controller="articleCtrl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$bbs_title}</title>
    <!-- Bootstrap -->
    <link href="__ROOT__/Application/Home/View/Index/styles/index.css" rel="stylesheet" >

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!--导航栏 -->
    <include file="./Application/Home/View/Index/header.html" />

    <div class="lf-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8  col-lg-offset-2">
                    <div>
                        <button class="btn-post" ng-click="goto_article_add()">发帖</button>
                    </div>
                    <div class="th" >
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <th colspan="2" class="mn-tl">
                                        主题
                                    </th>
                                    <td class="by">作者/发帖时间 </td>
                                    <td class="num">回复/查看 </td>
                                    <td class="by">最后发表</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tb">
                        <table>
                            <tbody >
                                <foreach name='article' item="it">
                                    <tr>
                                        <th colspan="2">
                                            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                                            <a href={:U($it["index"])}>{$it["title"]}</a>
                                        </th>
                                        <td class="by">
                                            <div class="name"> {$it["phone"]}</div>
                                            <div class="time"> {$it["posttime"]}</div>
                                        </td>
                                        <td class="num"> {$it["reply"]}/2341</td>
                                        <td class="by"> {$it["lastreplyer"]}</td>
                                    </tr>
                                </foreach>
                            </tbody>
                        </table>
                    </div>
                    <div class="pg-turn">
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <include file="./Application/Home/View/Index/footer.html" />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/styles/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/styles/angular-1.4.0/angular.js"></script>
    <script src="__PUBLIC__/styles/lesscss/less.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            //初始化输入区域
            alert(window.location.href);
        });

        var app = angular.module('articleApp', []);
        app.controller('articleCtrl', function($scope,$http) {
            $scope.goto_article_add = function() {
                $http.get("../user/login_verify")
                    .success(function(data, status, headers, config) {
                        if(data =="success"){
                            window.location.href = "./article_add.html";
                        }else{
                            window.location.href = "./login.html";
                        }
                    })
                    .error(function(data, status, headers, config) {
                        alert("连接服务器失败");
                    });

                }
        });
    </script>

</body>
</html>