<!DOCTYPE html>
<html lang="zh-CN" ng-app="articleApp" ng-controller="articleCtrl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$bbs_title}</title>
    <!-- Bootstrap -->
    <link href="__ROOT__/Application/Home/View/Index/styles/index.less" rel="stylesheet/less" >

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!--导航栏 -->
    <include file="./Application/Home/View/Index/header.html" />

    <div class="wrapper">
        <div class="menu-body">
            <foreach name="menu" item="value" key="k" >
                <if condition="$value['pid'] eq 0 AND count($sub_menu[$value['name']]) gt 0 ">
                    <div class="content">
                        <div class = "menu">
                            {$value.name}
                        </div>

                        <div class = "sub-menu">
                            <table>
                                <foreach name="sub_menu[$value['name']]" item="sub" key="j" >
                                    <if condition="$j%3 eq 0">
                                        <tr>
                                    </if>

                                    <td>
                                        <div class="fl-m">
                                            <div class="fl-icon">
                                                <a href="">
                                                    <img src="__ROOT__/Application/Home/View/resource/img/common_2_icon.png" alt="">
                                                </a>
                                            </div>
                                            <div class="fl-right">
                                                <div>
                                                    <a href="" class="fl-title">{$sub['name']}</a>
                                                <span class="fl-news">
                                                    (24小时新帖：44)
                                                </span>
                                                </div>
                                                <div class="fl-total">
                                                    主题：111,贴数：111；
                                                </div>
                                                <div class="fl-tips">
                                                    {$sub['comm']}
                                                </div>
                                                <div class="fl-hot">
                                                    小号被盗有什么办法解决啊.30多 ...
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <if condition="count($sub_menu[$value['name']]) eq $j+1 AND count($sub_menu[$value['name']]) eq 1 ">
                                        <td></td>
                                        <td></td>
                                    </if>
                                    <if condition="count($sub_menu[$value['name']]) eq $j+1 AND count($sub_menu[$value['name']]) eq 2 ">
                                        <td></td>
                                    </if>
                                    <if condition="$j%3 eq 2 OR count($sub_menu[$value['name']]) eq $j+1 ">
                                        </tr>
                                    </if>
                                </foreach>
                            </table>
                        </div>

                    </div>
                </if>
            </foreach>
        </div>
        <div class="menu-right">
            <div class="tips">
                <div class="tips-title bg-green">
                    最新教程
                </div>
                <div class="tips-list ">
                    <ul class="last-study">
                        <li><a href="">教程1</a></li>
                        <li><a href="">教程1</a></li>
                        <li><a href="">教程1</a></li>
                        <li><a href="">教程1</a></li>
                        <li><a href="">教程1</a></li>
                        <li><a href="">教程1</a></li>
                        <li><a href="">教程1</a></li>
                        <li><a href="">教程1</a></li>
                        <li><a href="">教程1</a></li>
                        <li><a href="">教程1</a></li>
                        <li><a href="">教程1</a></li>
                        <li><a href="">教程1</a></li>
                        <li><a href="">教程1</a></li>
                        <li><a href="">教程1</a></li>
                        <li><a href="">教程1</a></li>
                    </ul>
                </div>
            </div>

            <div class="tips">
                <div class="tips-title bg-blue">
                    热门教程
                </div>
                <div class="tips-list">
                    <ul class="hot-study">
                        <li>教程1</li>
                        <li>教程2</li>
                        <li>教程3</li>
                        <li>教程3</li>
                        <li>教程3</li>
                        <li>教程3</li>
                        <li>教程3</li>
                        <li>教程3</li>
                        <li>教程3</li>
                        <li>教程3</li>
                        <li>教程4</li>
                        <li>教程1</li>
                        <li>教程2</li>
                        <li>教程3</li>
                        <li>教程4</li>
                    </ul>
                </div>
            </div>

            <div class="tips">
                <div class="tips-title bg-rand">
                    随机推荐
                </div>
                <div class="tips-list">
                    <ul class="rand-recommend">
                        <li>教程1</li>
                        <li>教程2</li>
                        <li>教程2</li>
                        <li>教程2</li>
                        <li>教程2</li>
                        <li>教程3</li>
                        <li>教程4</li>
                        <li>教程1</li>
                        <li>教程1</li>
                        <li>教程1</li>
                        <li>教程1</li>
                        <li>教程1</li>
                        <li>教程2</li>
                        <li>教程3</li>
                        <li>教程4</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <include file="./Application/Home/View/Index/footer.html" />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="__PUBLIC__/styles/lesscss/less.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            //初始化输入区域
        });

    </script>



</body>
</html>