<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{$bbs_title}</title>
    <!-- Bootstrap -->
    <link href="__ROOT__/Application/Home/View/Index/styles/newth.less" rel="stylesheet/less">
    <link href="__ROOT__/Application/Home/View/styles/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="__ROOT__/Application/Home/View/styles/Font-Awesome-3.2.1/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!--导航栏 -->
    <include file="./Application/Home/View/Index/header.html" />

    <div class="wrapper">
        <div class="ac">
            <div>
                <h4>发表新主题</h4>
            </div>
            <form class="form-group" method="post"  >
                <div class="am">
                    <input class="title" type="text" id="" name="title"  placeholder="主题" value="" maxlength="40">
                    <select class="categoryid" name="categoryid" id="">
                        <option value="0">选择板块</option>
                        <foreach  name="new_blk" item="it" key="i">
                            <option value={$it['id']} >{$it['name']}</option>
                        </foreach>
                    </select>
                </div>
                <div >
                    <script id="container" name="content" maxlength="20000" type="text/plain" style="width:100%;height:400px;">我觉得我可以发表了</script>
                </div>
                <div>
                    <input type="submit" class="art-submit" value="发表帖子">
                    <span class="newth-error"></span>
                </div>
            </form>

        </div>
    </div>

    <script src="__ROOT__/Application/Home/View/styles/jquery/jquery.min.js"></script>
    <script src="__ROOT__/Application/Home/View/styles/umeditor/umeditor.config.js"></script>
    <script src="__ROOT__/Application/Home/View/styles/umeditor/umeditor.js"></script>
    <script src="__ROOT__/Application/Home/View/styles/lesscss/less.min.js"></script>
    <script src="__ROOT__/Application/Home/View/styles/jquery/jquery.form.js"></script>


    <script type="text/javascript">
        var ue;
        var error= 0;


        $(document).ready(function(){
            $(".title").bind('input propertychange',function(){
                max = $(this).attr('maxlength');
                if(!max) return;

                var value = $(this).val().toString();
                if(value.length>max){
                    value = value.substr(0,max);
                    $(this).val(value);
                }
            });


            $(".title").change(function(){
                if(error!=1) return;
                if($(this).val()){
                    $(".newth-error").text("");
                    error =0;
                }
            });

            $(".categoryid").change(function(){
                if(error!=2) return;
                if($(this).val()){
                    $(".newth-error").text("");
                    error =0;
                }
            });

            $("#container").change(function(){
                if(error!=3) return;
                if($(this).val()){
                    $(".newth-error").text("");
                    error =0;
                }
            });

            //初始化输入区域
            ue = UM.getEditor('container');

            $(".art-submit").click(function(){

                if(!$(".title").val()){
                    $(".newth-error").text("主题名过短.");
                    error =1;
                    return false;
                }

                if($(".categoryid").val()<=0){
                    $(".newth-error").text("没有选择板块.");
                    error =2;
                    return false;
                }

                if(!ue.getContent()){
                    $(".newth-error").text("没有输入文章内容.");
                    error =3;
                    return false;
                }

                var options = {
                    url :"__APP__/home/article/publish",
                    type: 'post',
                    dataType: 'json',
                    data: $(".form-group").serialize(),
                    success: function(data,status){
                        if(data.status==0){
                            error = 1;
                            $(".newth-error").text(data.error);
                        }else{
                            location.href = data.next;
                        }
                    },
                    timeout: 3000
                };

                $.ajax(options);
                return false;
            });
        });

    </script>
</body>
</html>