<!DOCTYPE html>
<html lang="zh-CN" ng-app="rgApp" ng-controller="rgCtrl">
<head>
    <meta charset="UTF-8">
    <title>{$bbs_title}</title>
    <!-- Bootstrap -->
    <link href="__ROOT__/Application/Home/View/Index/styles/pcinfo.less" rel="stylesheet/less">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>


    <h4>电脑配置</h4>

    <form method="post" action="../user/submit_tb" class="rg-form-group" enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                    <span>电脑1配置照片 ：</span>
                </td>
                <td>
                    <img src={$hd['img1config']} alt="">
                </td>
            </tr>
            <tr>
                <td>
                    <span>电脑2配置照片：</span>
                </td>
                <td>
                    <img src={$hd['img2config']} alt="">
                </td>
            </tr>
            <tr>
                <td>
                    <span>两台电脑放一起的照片：</span>
                </td>
                <td>
                    <img src={$hd['imgpc']} alt="">
                </td>
            </tr>
            <tr>
                <td>
                    <span>两个光猫放一起的照片：</span>
                </td>
                <td>
                    <img src={$hd['imgmodem']} alt="">
                </td>
            </tr>
        </table>

    <!--<div class="form-submit">-->
        <!--<div>-->
            <!--<label class="submit-error"></label>-->
        <!--</div>-->
        <!--<input type="submit" class="rg-submit" value="确定添加">-->
    <!--</div>-->
    </form>

    <div id="light" class="white_content" style="overflow: hidden">
        <img style="width: 100%;height: 100%;" src="" alt="">
    </div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__ROOT__/Application/Home/View/styles/jquery/jquery.min.js"></script>
<script src="__ROOT__/Application/Home/View/styles/jquery/jquery.form.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="__ROOT__/Application/Home/View//styles/lesscss/less.min.js"></script>


<script type="text/javascript">


    $(document).ready(function(){
        $('img').click(function(){
            var src = $(this).attr('src');
            $('.white_content').css('display','block');
            $('.white_content img').attr('src',src);

        });

        $('.white_content').click(function(){
            $('.white_content').css('display','none');
        });
    });
</script>
</body>
</html>