<!DOCTYPE html>
<html lang="zh-CN" ng-app="rgApp" ng-controller="rgCtrl">
<head>
    <meta charset="UTF-8">
    <title>{$bbs_title}</title>
    <!-- Bootstrap -->
    <link href="__ROOT__/Application/Home/View/Index/styles/register.less" rel="stylesheet/less">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

        <!--导航栏 -->
    <include file="./Application/Home/View/Index/header.html" />

    <div class="wrapper">
        <div class="rg-container">
            <h3>注册信息</h3>
            <div class="step">
                <ul>
                    <li class="step-2">第一步：校验邀请码</li>
                    <li class="step-1">第二步：填写注册信息</li>
                    <li class="step-3">第三步：提交店铺审核</li>
                    <li class="step-4">第四步：提交电脑配置审核</li>
                </ul>
            </div>
            <div class="rg-content">
                <form method="post" action="../user/register" class="rg-form-group" enctype="multipart/form-data">
                    <div class="form-item">
                        <span>用户名*：</span>
                        <input class="account" type="text" name="account" placeholder="6-24位用户名" value="jiaran">
                    </div>
                    <div class="form-item">
                        <span>密码*：</span>
                        <input class="pwd1" type="password" name="password" placeholder="6-24位密码" value="123456">
                    </div>
                    <div class="form-item">
                        <span>再一次输入密码*：</span>
                        <input class="pwd2" type="password" name="password1" placeholder="密码确认" value="123456">
                    </div>
                    <div class="form-item">
                        <span>性别*：</span>
                        <div class="form-item-addon">
                            <span>男</span>
                            <input class="sex-man"  checked name="sex-man" type="checkbox" >
                            <span>女</span>
                            <input class="sex-woman" name="sex-woman" type="checkbox" >
                        </div>
                    </div>
                    <div class="form-item">
                        <span>真实姓名*：</span>
                        <input class="name" type="text" name="name" placeholder="真实姓名" value="贾然">
                    </div>
                    <div class="form-item">
                        <span>手持身份证上传*：</span>
                        <input class="hand-id" type="file" name="user-hand-id" placeholder="真实姓名">
                    </div>
                    <div class="form-item">
                        <span>身份证正面*：</span>
                        <input class="user-id" type="file" name="user-id" placeholder="真实姓名" >
                    </div>
                    <div class="form-item">
                        <span>省份：</span>
                        <div class="form-item-addon">
                            <select>
                                <option value="">请选择：</option>
                                <option value="1">北京</option>
                                <option value="2">上海</option>
                                <option value="3">天津</option>
                                <option value="4">重庆</option>
                                <option value="5">河北</option>
                                <option value="6">山西</option>
                                <option value="7">河南</option>
                                <option value="8">辽宁</option>
                                <option value="9">吉林</option>
                                <option value="10">黑龙江</option>
                                <option value="11">内蒙古</option>
                                <option value="12">江苏</option>
                                <option value="13">山东</option>
                                <option value="14">安徽</option>
                                <option value="15">浙江</option>
                                <option value="16">福建</option>
                                <option value="17">湖北</option>
                                <option value="18">湖南</option>
                                <option value="19">广东</option>
                                <option value="20">广西</option>
                                <option value="21">江西</option>
                                <option value="22" selected="selected">四川</option>
                                <option value="23">海南</option>
                                <option value="24">贵州</option>
                                <option value="25">云南</option>
                                <option value="26">西藏</option>
                                <option value="27">陕西</option>
                                <option value="28">甘肃</option>
                                <option value="29">青海</option>
                                <option value="30">宁夏</option>
                                <option value="31">新疆</option>
                                <option value="32">台湾</option>
                                <option value="42">香港</option>
                                <option value="43">澳门</option>
                                <option value="84">钓鱼岛</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-item">
                        <span>完整住所地址：</span>
                        <input type="text" name="address" placeholder="完整住所地址" value="成都市武侯区永盛南街8号">
                    </div>
                    <div class="form-item">
                        <span>QQ：</span>
                        <input type="text" name="qq" placeholder="QQ" value="858385135">
                    </div>
                    <div class="form-item">
                        <span>推荐人QQ：</span>
                        <input type="text" name="refer-qq" placeholder="推荐人QQ" value="858385135">
                    </div>
                    <div class="form-item">
                        <span>手机号码*：</span>
                        <input type="text" name="phone" placeholder="手机号码" value="18200326535">
                    </div>
                    <div class="form-item">
                        <span>验证码*：</span>
                        <input type="text" name="verify" placeholder="验证码" value="123">
                    </div>

                    <div class="form-submit">
                        <input type="submit" class="rg-submit" value="下一步">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__ROOT__/Application/Home/View//styles/lesscss/less.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function(){

            //性别互斥
            $('.sex-man').click(function(){
                $(".sex-woman").removeAttr("checked");
            });

            $('.sex-woman').click(function(){
                $(".sex-man").removeAttr("checked");
            });

            $(".rg-submit").click(function(){
                return false;
            });

        });
    </script>
</body>
</html>