<!DOCTYPE html>
<html lang="zh-CN" ng-app="rgApp" ng-controller="rgCtrl">
<head>
    <meta charset="UTF-8">
    <title>{$bbs_title}</title>
    <!-- Bootstrap -->
    <link href="__ROOT__/Application/Home/View/Index/styles/register.less" rel="stylesheet/less">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

        <!--导航栏 -->
    <include file="./Application/Home/View/Index/header.html" />

    <div class="wrapper">
        <div class="rg-container">
            <h3>验证邀请码</h3>
            <div class="step">
                <ul>
                    <li class="step-active">第一步：校验邀请码</li>
                    <li >第二步：填写注册信息</li>
                    <li >第三步：提交淘宝/京东用户资料</li>
                    <li >第四步：提交店铺资料</li>
                    <li >第五步：提交电脑配置审核</li>
                </ul>
            </div>
            <div class="rg-content">
                <div class="offer-verify">
                    <span>邀请码:</span>
                    <input type="text" placeholder="输入15位邀请码" maxlength="15" value="">
                    <span class="error" ></span>
                    <button class="next-step">下一步</button>
                </div>


            </div>
        </div>
    </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="__ROOT__/Application/Home/View/styles/jquery/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="__ROOT__/Application/Home/View//styles/lesscss/less.min.js"></script>



    <script type="text/javascript">
        $(document).ready(function(){

            //输入长度校验
            $(".offer-verify input").bind('input propertychange',function(){
                max = $(this).attr('maxlength');
                if(!max) return;

                value = $(this).val().toString();

                if(value.length>max){
                    value = value.substr(0,max);
                    if($(this).attr('type')=='number'){
                        $(this).val(parseInt(value));
                    }else{
                        $(this).val(value);
                    }
                }
            });

            $(".offer-verify button").click(function(){
                var offer = $(".offer-verify input").val();

                if(offer.length!=15){
                   $(".error").text("邀请码不正确");
                }
                $.post("../user/offer_verify",{offer:offer},function(data,status){
                    if(data.status!=1){
                        $(".error").text("邀请码不正确");
                        return ;
                    }

                    location.href = "register-step-2.html";
                });
            });
        });
    </script>
</body>
</html>