<!DOCTYPE html>
<html lang="zh-CN" ng-app="articleApp" ng-controller="articleCtrl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <!-- Bootstrap -->
    <link href="/bbs/Application/Home/View/Index/styles/study.css" type="text/css" rel="stylesheet">
    <link href="/bbs/Application/Home/View/styles/Font-Awesome-3.2.1/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<script src="/bbs/Application/Home/View/styles/html5-media/html5media.js"></script>
    <!--导航栏 -->
    <!DOCTYPE html>
<html lang="en">
<body>
<link href="/bbs/Application/Home/View/styles/Font-Awesome-3.2.1/css/font-awesome.min.css" type="text/css" rel="stylesheet">
<div class="wrapper">
    <div class="header">
        <div class="logo">
            <a href="./"><img src="/bbs/Application/Home/View/resource/img/logo.png" ></a>
        </div>
        <div class="login-bar">

        </div>
    </div>
</div>

<div class="wrapper">
    <div class="nav">
        <ul>
            <li><a href="index.html">网站首页</a></li>
            <li><a href="study.html">使用教程</a></li>
            <li><a href="download.html">软件下载</a></li>
            <li><a href="">会员分享区</a></li>
            <li><a href="">绝密电商干货</a></li>
            <li><a href="">淘宝美工教程</a></li>
        </ul>
    </div>
</div>

<div class="wrapper">
    <div class="ad-lg">
                    <a href="#"><img src="/bbs/Application/Home/View/resource/img/big-ad.jpg" alt=""></a>    </div>
    <div class="ad-lg">
        <div class="ad-sm">
                            <a href="#"><img src="/bbs/Application/Home/View/resource/img/sm-ad.jpg" alt=""></a>        </div>
        <div class="ad-sm">
                            <a href="#"><img src="/bbs/Application/Home/View/resource/img/sm-ad.jpg" alt=""></a>        </div>
        <div class="ad-sm">
                            <a href="#"><img src="/bbs/Application/Home/View/resource/img/sm-ad.jpg" alt=""></a>        </div>
        <div class="ad-sm">
                            <a href="#"><img src="/bbs/Application/Home/View/resource/img/sm-ad.jpg" alt=""></a>        </div>
    </div>
</div>

<div class="wrapper">
    <div class="map">
        <ul>
                    </ul>
    </div>
</div>

<script id="login-tpl" type="text/html">

{{if user.login}}
    <div class="user-pin">
        <ul>
            <li><a href="userset.html">{{user.account}}</a><span>|</span></li>
            <li><a href="userset.html">资料</a><span>|</span></li>
            <li><a href="userbuy.html" style="color: #CC3366">购买服务</a><span>|</span></li>
            <li><a href="usercharge.html" style="color: #CC3366">充值中心</a><span>|</span></li>
            <li><a href="../user/logout" class="logout-get">退出</a></li>
        </ul>
    </div>
{{else}}
    <div class="login-bar">
        <div class="pin1">
            <span>用户名</span>
            <span>密&nbsp;&nbsp;码</span>
        </div>
        <div class="pin2">
            <input class="name" type="text" onkeyup="value=value.replace(/[\W]/g,'')" placeholder="用户名" >
            <input class="pwd" type="password" placeholder="密码" >
            <span class="login-error"></span>
        </div>
        <div class="pin3">
            <input class="rmb-pwd" type="checkbox" >
            <span>记住</span>
            <button class="login-btn">登录</button>
        </div>
        <div class="reg-bar">
            <a href=""></a>
            <a href="register.html">免费注册</a>
        </div>

    </div>
{{/if}}

</script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/bbs/Application/Home/View/styles/jquery/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bbs/Application/Home/View//styles/arttemplate/template.js"></script>

    <script type="text/javascript">
        function setCookie(name,value){
            var Days = 7;
            var exp = new Date();

            exp.setTime(exp.getTime() + Days*24*60*60*1000);
            document.cookie = name + "="+ value + ";expires=" + exp.toGMTString();
        }

        function getCookie(name) {
            var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
            if(arr=document.cookie.match(reg))
                return arr[2];
            else
                return null;
        }

        function delCookie(name)
        {
            var exp = new Date();
            exp.setTime(exp.getTime() - 1);
            var cval=getCookie(name);
            if(cval!=null)
                document.cookie= name + "="+cval+";expires="+exp.toGMTString();
        }

        function login(account,pwd){
            $.post("../user/login", { account:account,pwd:pwd},
                function(data,status){
                    if(data.status!=1){
                        $(".login-error").text("用户名/密码错误");
                    }else{
                        var list ={user:data.user};
                        var remember = $('.rmb-pwd').is(':checked');
                        if(remember){
                            setCookie('account',account);
                            setCookie('pwd',pwd);
                        }

                        var html = template('login-tpl', list);
                        $(".login-bar").html(html);

                        //保存cookie
                        $('.logout-get').click(function(){
                            var url = $(this).attr('href');
                            logout(url);
                            return false;
                        });
                    }
            });
        }

        function  logout(url){
            $.get(url,function(data,status){
                if(data.status==1){
                    if(data.next==1){
                        location.href = 'index.html';
                        return;
                    }
                    var user ={};
                    user.login =0;
                    user_init(user);
                    delCookie('account');
                    delCookie('pwd');
                }
            });
        }

        function user_info_read_from_cookie(){
            var account = getCookie('account');
            var pwd = getCookie('pwd');

            if(account && pwd){
                login(account,pwd);
            }else{
                var user ={};
                user.login =0;
                user_init(user);
            }
        }

        function user_init(user){
            var list ={user:user};
            var html = template('login-tpl', list);
            $(".login-bar").html(html);

            $(".login-btn").click(function(){
                var account = $(".name").val();
                var pwd = $(".pwd").val();
                login(account,pwd);
            });

            $('.logout-get').click(function(){
                var url = $(this).attr('href');
                logout(url);
                return false;
            });
        }

        $(document).ready(function(){
            $.get("../user/state",function(data,status){
                    var user =new Object();
                    user.login =0;
                    //先通过服务端session判断服务端是否在线，如果不在线，在通过读取cookie的方式登录
                    if(data.status==1 && data.user){
                        user = data.user;
                        user_init(user);
                    }else{
                        user_info_read_from_cookie();
                    }
                });
        });
    </script>
</body>
</html>

    <div class="wrapper">
        <div class="container">
            <div>
                <p>我的东西很不错啊</p>            </div>
        </div>
    </div>

    <!DOCTYPE html>
<html lang="zh-CN">

<body>


<div class="footer">
        Powered by 彩虹桥云端
</div>


</body>
</html>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/bbs/Application/Home/View/styles/jquery/jquery.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function(){
        });

    </script>

</body>
</html>