<!DOCTYPE html>
<html lang="zh-CN" ng-app="articleApp" ng-controller="articleCtrl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$bbs_title}</title>
    <!-- Bootstrap -->
    <link href="__ROOT__/Application/Home/View/Index/styles/tbchange.css" type="text/css" rel="stylesheet">
    <link href="__ROOT__/Application/Home/View/styles/Font-Awesome-3.2.1/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>


<div class="tb-acc-1">
    <h4>小号资料</h4>
    <table>
        <tr>
            <td>序号</td>
            <td>小号</td>
            <td>等级:</td>
            <td>性别：</td>
            <td>年龄段：</td>
            <td>消费范围：</td>
            <td>类目标签：</td>
            <td>账号类型：</td>
            <td>图片：</td>
        </tr>
        <foreach name="account" item="tb" key="index" >
            <tr tbid="{$tb['id']}">
                <td>{$index+1}</td>
                <td>{$tb['name']}</td>
                <td>{$tb['accountlevel']}</td>
                <td>{$tb['sex']}</td>
                <td>{$tb['age']}</td>
                <td>{$tb['consume']}</td>
                <td>{$tb['category']}</td>
                <td>{$tb['accounttype']}</td>
                <td><img src={$tb['img']} alt=""></td>
            </tr>
        </foreach>
    </table>
</div>

<div id="light" class="white_content" style="overflow: hidden">
    <img style="width: 100%;height: 100%;" src="" alt="">
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__ROOT__/Application/Home/View/styles/jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__ROOT__/Application/Home/View//styles/arttemplate/template.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            //初始化输入区域

            $('img').click(function(){
                var src = $(this).attr('src');
                $('.white_content').css('display','block');
                $('.white_content img').attr('src',src);

            });

            $('.white_content').click(function(){
                $('.white_content').css('display','none');
            });


        });

    </script>

</body>
</html>