<!DOCTYPE html>
<html lang="zh-CN" ng-app="rgApp" ng-controller="rgCtrl">
<head>
    <meta charset="UTF-8">
    <title>{$bbs_title}</title>
    <!-- Bootstrap -->
    <link href="__ROOT__/Application/Home/View/Index/styles/register.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

        <!--导航栏 -->
        <include file="./Application/Home/View/Index/header.html" />


        <div class="rg" >
            <h2>注册拉轰账号</h2>
            <div class="rg-bd" >
                <div class="rg-input-item">
                    <input type="tel" class="rg-input " id="" name="user" ng-model="phone" placeholder="请输入常用手机号码" data-required="required" autocomplete="off" >
                </div>
                <div class="rg-input-item">
                    <input type="text" class="rg-input-form" id="" name="verify" ng-model="verify" placeholder="请输入验证码" data-required="required" autocomplete="off" >
                    <span type="button" class="rg-input-addon" ">获取验证码 </span>
                </div>
                <div class="rg-input-item">
                    <input type="password" class="rg-input " id="" name="password" ng-model="password" placeholder="请输入密码" data-required="required" autocomplete="off" >
                </div>
                <div class="rg-input-item">
                    <input type="password" class="rg-input " id="" name="password1" ng-model="password1" placeholder="再次输入密码" data-required="required" autocomplete="off" >
                </div>
                <div class="rg-input-item">
                    <button class="rg-input rg-submit" >注册账号</button>
                </div>
            </div>
        </div>

        <div class="rg" >
            <h2>{$reg_res}</h2>
            <div class="rg-bd">
                <table class="table table-bordered rg-tb">
                    <tbody>
                        <tr>
                            <td>手机号</td>
                            <td>{$user['phone']}</td>
                        </tr>
                        <tr>
                            <td>账号</td>
                            <td>{$user['id']}</td>
                        </tr>
                        <tr>
                            <td>会员等级</td>
                            <td>{$user['level']}</td>
                        </tr>
                        <tr>
                            <td>当前积分</td>
                            <td>{$user['vmoney']}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="rg-input-item">
                   <button class="rg-input" ><a href="{:U('Index/index')}">进入论坛，{{time_to_jump}}秒后自动跳转</a></button>
                </div>
            </div>
        </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/styles/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){

            $(".rg-submit").click(function(){
                $.post("../user/register_post",
                    {
                        "phone":$scope.phone,
                        "verify":$scope.verify,
                        "passwd":$scope.password,
                    }
                    ,function(data, status) {

                    });
            });

        });
    </script>
</body>
</html>