<!DOCTYPE html>
<html lang="zh-CN" ng-app="articleApp" ng-controller="articleCtrl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$bbs_title}</title>
    <!-- Bootstrap -->
    <link href="__ROOT__/Application/Home/View/Index/styles/userset.less" rel="stylesheet/less" >
    <link href="__ROOT__/Application/Home/View/styles/Font-Awesome-3.2.1/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!--导航栏 -->
    <include file="./Application/Home/View/Index/header.html" />

    <div class="wrapper">
        <div class="container">
            <div class="col">
                <ul class="">
                    <li><a href="userinfo.html">用户资料</a></li>
                    <li><a href="tbchange.html">小号资料</a></li>
                    <li><a href="tbadd.html">上传小号</a></li>
                    <li><a href="shopinfo.html">店铺资料</a></li>
                    <li><a href="pcinfo.html">电脑配置</a></li>
                </ul>
            </div>
            <div class="content">
            </div>
        </div>
    </div>

    <include file="./Application/Home/View/Index/footer.html" />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__ROOT__/Application/Home/View/styles/jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__ROOT__/Application/Home/View/styles/lesscss/less.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            //初始化输入区域
            $(".content").load('userinfo.html',function(data,status,xhr){
                var ret=JSON.parse(data);
                if(ret.status==0){
                    location.href="../Index/login.html"
                }
            });

            //输入长度校验
            $(".form-item input").bind('input propertychange',function(){
                max = $(this).attr('maxlength');
                if(!max) return;

                value = $(this).val().toString();

                if(value.length>max){
                    value = value.substr(0,max);
                    if($(this).attr('type')=='number'){
                        $(this).val(parseInt(value));
                    }else{
                        $(this).val(value);
                    }
                }
            });


            $('.col a').click(function(){
                $(".content").load($(this).attr("href"),function(data,status,xhr){
                    var ret=JSON.parse(data);
                    if(ret.status==0){
                        location.href="../Index/login.html"
                    }
                });

                return false;
            });
        });

    </script>

</body>
</html>