<!DOCTYPE html>
<html lang="zh-CN" ng-app="rgApp" ng-controller="rgCtrl">
<head>
    <meta charset="UTF-8">
    <title>{$bbs_title}</title>
    <!-- Bootstrap -->
    <link href="__ROOT__/Application/Home/View/Index/styles/register.css" type="text/css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

        <!--导航栏 -->
    <include file="./Application/Home/View/Index/header.html" />

    <div class="wrapper">
        <div class="rg-container">
            <h3>注册信息</h3>
            <div class="step">
                <ul>
                    <li >第一步：校验邀请码</li>
                    <li class="step-active">第二步：填写注册信息</li>
                    <li >第三步：提交淘宝/京东用户资料</li>
                    <li >第四步：提交店铺资料</li>
                    <li >第五步：提交电脑配置审核</li>
                </ul>
            </div>
            <div class="rg-content">
                <form method="post" action="../user/register" class="rg-form-group" enctype="multipart/form-data">
                    <table>
                        <tr class="form-item">
                            <td class="item-title">用户名 <big>*</big>:</td>
                            <td>
                                <input class="account" type="text" maxlength="15"  onkeyup="value=value.replace(/[\W]/g,'')" name="account" placeholder="6-24位用户名" value="">
                                <label class="account-error"></label>
                            </td>
                        </tr>
                        <tr class="form-item">
                            <td class="item-title">密码<big>*</big>:</td>
                            <td>
                                <input class="pwd1" type="password" maxlength="24"  name="password" placeholder="6-24位密码" value="">
                                <label class="pwd1-error"></label>
                            </td>
                        </tr>
                        <tr class="form-item">
                            <td class="item-title">再一次输入密码<big>*</big>:</td>
                            <td>
                                <input class="pwd2" type="password"  maxlength="24"  name="password1" placeholder="密码确认" value="">
                                <label class="pwd2-error"></label>
                            </td>
                        </tr>
                        <tr class="form-item">
                            <td class="item-title">性别:</td>
                            <td class="form-item-addon">
                                <select name="sex" id="">
                                    <option value="0">男</option>
                                    <option value="1">女</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="form-item">
                            <td class="item-title">真实姓名<big>*</big>:</td>
                            <td>
                                <input class="name" type="text" name="name" maxlength="5"  placeholder="真实姓名" value="">
                                <label class="name-error"></label>
                            </td>
                        </tr>
                        <tr class="form-item">
                            <td class="item-title">手持身份证上传<big>*</big>:</td>
                            <td>
                                <input class="hand-id" type="file" name="user-hand-id" placeholder="真实姓名">
                                <span>图片大小限制512K。</span>
                                <label class="hand-id-error"></label>
                            </td>
                        </tr>
                        <tr class="form-item">
                            <td class="item-title">身份证正面<big>*</big>:</td>
                            <td>
                                <input class="user-id" type="file" name="user-id" placeholder="真实姓名" >
                                <span>图片大小限制512K。</span>
                                <label class="user-id-error"></label>
                            </td>
                        </tr>
                        <tr class="form-item">
                            <td class="item-title">省份<big>*</big>:</td>
                            <td>
                                <select name="area" class="area">
                                    <option value="北京">北京</option>
                                    <option value="上海">上海</option>
                                    <option value="天津">天津</option>
                                    <option value="重庆">重庆</option>
                                    <option value="河北">河北</option>
                                    <option value="陕西">山西</option>
                                    <option value="河南">河南</option>
                                    <option value="辽宁">辽宁</option>
                                    <option value="吉林">吉林</option>
                                    <option value="黑龙江">黑龙江</option>
                                    <option value="内蒙古">内蒙古</option>
                                    <option value="江苏">江苏</option>
                                    <option value="山东">山东</option>
                                    <option value="安徽">安徽</option>
                                    <option value="浙江">浙江</option>
                                    <option value="福建">福建</option>
                                    <option value="湖北">湖北</option>
                                    <option value="湖南">湖南</option>
                                    <option value="广东">广东</option>
                                    <option value="广西">广西</option>
                                    <option value="江西">江西</option>
                                    <option value="四川" selected="selected">四川</option>
                                    <option value="海南">海南</option>
                                    <option value="贵州">贵州</option>
                                    <option value="云南">云南</option>
                                    <option value="西藏">西藏</option>
                                    <option value="陕西">陕西</option>
                                    <option value="甘肃">甘肃</option>
                                    <option value="青海">青海</option>
                                    <option value="宁夏">宁夏</option>
                                    <option value="新疆">新疆</option>
                                    <option value="台湾">台湾</option>
                                    <option value="香港">香港</option>
                                    <option value="澳门">澳门</option>
                                    <option value="钓鱼岛">钓鱼岛</option>
                                </select>
                                <label class="shengfen-error"></label>
                            </td>

                        </tr>
                        <tr class="form-item">
                            <td class="item-title">完整住所地址:</td>
                            <td>
                                <input type="text" name="address" placeholder="完整住所地址" maxlength="140"  value="">
                            </td>
                        </tr>
                        <tr class="form-item">
                            <td class="item-title">QQ<big>*</big>:</td>
                            <td>
                                <input class="qq" type="number" name="qq" placeholder="QQ" maxlength="10"  value="">
                                <label class="qq-error"></label>
                            </td>
                        </tr>
                        <tr class="form-item">
                            <td class="item-title">推荐人QQ:</td>
                            <td>
                                <input type="number" name="refer-qq" placeholder="推荐人QQ" maxlength="10"  value="">
                            </td>
                        </tr>
                        <tr class="form-item">
                            <td class="item-title">AnyDestID<big>*</big>:</td>
                            <td>
                                <input class="tvid" type="number" name="tvid" placeholder="AnyDestID" maxlength="11"  value="">
                                <label class="tvid-error"></label>
                            </td>
                        </tr>
                        <tr class="form-item">
                            <td class="item-title">AnyDesk密码<big>*</big>:</td>
                            <td>
                                <input class="tvpwd" type="password" name="tvpwd" placeholder="AnyDesk密码" maxlength="11"  value="">
                                <label class="tvpwd-error"></label>
                            </td>
                        </tr>
                        <tr class="form-item">
                            <td class="item-title">手机号码<big>*</big>:</td>
                            <td >
                                <input class="phone" type="number" name="phone" placeholder="手机号码" maxlength="11"  value="">
                                <label class="phone-error"></label>
                            </td>
                        </tr>
                        <tr class="form-item">
                            <td class="item-title">图片验证码<big>*</big>:</td>
                            <td>
                                <input id="num-verify" type="number" name="phone" placeholder="验证码" maxlength="4"  value="">
                                <img class="img-verify"  alt="验证码" src="{:U('Home/Index/verify_get',array())}" title="点击刷新">
                                <label class="img-verify-error" ></label>
                            </td>
                        </tr>
                        <tr class="form-item">
                            <td class="item-title">短信验证码<big>*</big>:</td>
                            <td >
                                <input id="verify" class="verify" type="number" name="verify" placeholder="手机验证码" maxlength="6"  value="">
                                <span class="get-verify">获取验证码</span>
                                <label class="verify-error"></label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="submit-error" style="padding-left: 70px; font-size:13px;color: red;">&nbsp;</td>
                        </tr>
                        <tr class="form-submit">
                            <td colspan="2">
                                <input type="submit" class="rg-submit" value="下一步">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__ROOT__/Application/Home/View/styles/jquery/jquery.min.js"></script>
    <script src="__ROOT__/Application/Home/View/styles/jquery/jquery.form.js"></script>

    <script type="text/javascript">
        var step = 0;
        var timer = 0;
        var img_verify = 0;

        function  get_verify(){
            var phone = $(".phone").val();
            if(phone.length != 11){
                $(".verify-error").text("手机号码长度不正确");
                return false;
            }else{
                $(".verify-error").text("");
            }

            if(!img_verify){
               $('.verify-error').text('图片验证码未通过！');
               return false;
            }else{
                $(".verify-error").text("");
            }

            step = 0;
            //这个地方就是获取短信验证码
            $.post("../user/reg_tel_verify_step_1",{phone:phone},function(data,status){
                if(data.status == 1){
                    step = 1;
                    //无论发送是否成功，一分钟只能发送一次
                    $(".get-verify").unbind("click");
                    var timeout=60;
                    timer = setInterval(function(){
                        var str = "已发送等待"+timeout+"秒";
                        $(".get-verify").text(str);
                        timeout--;
                        if(timeout<0){
                            clearInterval(timer);
                            str = "重新获取验证";
                            $(".get-verify").text(str);
                            $(".get-verify").click(function(){
                                get_verify();
                            });
                        }
                    },1000);
                }else{
                    $(".phone-error").text(data.error);
                }
            });
        }

        function account_verify(){
            var account = $(".account").val();

            if(account.length<6){
                $(".account-error").text("用户名长度过短");
                return false;

            }else{
                $(".account-error").text("");
            }

            return true;
        }

        function pwd1_verify(){
            var pwd1 = $(".pwd1").val();

            if(pwd1.length<6){
                $(".pwd1-error").text("密码长度过短");
                return false;

            }else{
                $(".pwd1-error").text("");
            }

            return true;
        }

        function pwd2_verify(){
            var pwd1 = $(".pwd1").val();
            var pwd2 = $(".pwd2").val();

            if(pwd1 != pwd2){
                $(".pwd2-error").text("两次密码不一样");
                return false;
            }else{
                $(".pwd2-error").text("");
            }

            return true;
        }

        function hand_id_verify(){
            var path = $(".hand-id").val();

            if(!path){
                $(".hand-id-error").text("没有选择照片");
                return false;
            }else{
                var img = $('.hand-id')[0];
                if(img.files[0].size>512*1024){
                    $(".hand-id-error").text("图片大小不能超过512K.");
                    return false;
                }else{
                    $(".hand-id-error").text("");
                }
            }

            return true;
        }

        function user_id_varify(){
            var path = $(".user-id").val();

            if(!path){
                $(".user-id-error").text("没有选择照片");
                return false;
            }else{
                var img = $('.user-id')[0];
                if(img.files[0].size>512*1024){
                    $(".user-id-error").text("图片大小不能超过512K.");
                    return false;
                }else{
                    $(".user-id-error").text("");
                }
            }

            return true;
        }

        function tvid_verify(){
            var path = $(".tvid").val();

            if(!path){
                $(".tvid-error").text("用户名是必须的");
                return false;
            }else{
                $(".tvid-error").text("");
            }

            return true;
        }

        function qq_verify(){
            var path = $(".qq").val();

            if(!path){
                $(".qq-error").text("QQ号码是必须的");
                return false;
            }else{
                $(".qq-error").text("");
            }

            return true;
        }

        function tvpwd_verify(){
            var path = $(".tvpwd").val();

            if(!path){
                $(".tvpwd-error").text("密码是必须的");
                return false;
            }else{
                $(".tvpwd-error").text("");
            }

            return true;
        }

        function phone_verify(){
            var phone = $(".phone").val();

            if(phone.length != 11){
                $(".phone-error").text("手机号码长度不正确");
                return false;
            }else{
                $(".phone-error").text("");
            }

            return true;
        }

        function code_varify(){
            if(step != 3){
                $('.varify-error').text('验证码不正确');
                return false;
            }

            return true;
        }

        $(document).ready(function(){

            //输入长度校验
            $(".form-item input").bind('input propertychange',function(){
                max = $(this).attr('maxlength');
                if(!max) return;

                value = $(this).val().toString();

                if(value.length>max){
                    value = value.substr(0,max);
                    if($(this).attr('type')=='number'){
                        $(this).val(parseInt(value));
                    }else{
                        $(this).val(value);
                    }
                }
            });

            $(".account").blur(function(){
                account_verify();
            });

            //密码
            $(".pwd1").blur(function(){
                pwd1_verify();
            });

            $(".pwd2").blur(function(){
                pwd2_verify();
            });

            //手持身份证照片验证
            $(".hand-id").change(function(){
                hand_id_verify();
            });
            $(".tvid").change(function(){
                tvid_verify();
            });
            $(".tvpwd").change(function(){
                tvpwd_verify();
            });
            $(".qq").change(function(){
                qq_verify();
            });
            //身份证照片验证
            $(".user-id").change(function(){
                user_id_varify();
            });

            //手机号码验证
            $(".phone").blur(function(){
                phone_verify();
            });


            $('.img-verify').click(function(){
                var verifyimg = $(this).attr("src");
                if( verifyimg.indexOf('?')>0){
                    $(this).attr("src", verifyimg+'&random='+Math.random());
                }else{
                    $(this).attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
                }
            });


            $("#num-verify").bind('input propertychange',function(){
                var verify = $("#num-verify").val();

                if(verify.length != 4){
                    return false;
                }
                $.post('./verify_check',{code:verify},function(data,status){
                    if(data.status==1){
                        img_verify = 1;
                        $(".img-verify-error").text("校验成功!");
                    }else{
                        $(".img-verify-error").text('验证码错误!');
                    }
                });
            });


            //验证码校验
            $(".verify").bind('input propertychange',function(){
                var verify = $(".verify").val();

                if(verify.length != 6){
                    return false;
                }

                if(step>0)
                    $.post('../user/reg_tel_verify_step_2',{code:$(".verify").val()},function(data,status){
                        if(data.status==1){
                            step = 3;
                            clearInterval(timer);
                            $(".verify-error").text("校验成功!");
                            $(".verify-error").unbind("click");
                        }else{
                            $(".verify-error").text(data.error);
                        }
                    });
            });


            $(".get-verify").click(function(){
                get_verify();
            });

            $(".rg-submit").click(function(){

                if(!account_verify()||!pwd1_verify()||!pwd2_verify()||!hand_id_verify() ||!user_id_varify()||!phone_verify()
                    || !code_varify() ||!tvid_verify()||!tvpwd_verify()||!qq_verify()
                )
                {
                    $(".submit-error").text("资料错误，请核实后重新点击下一步");
                    return false;
                }

                var options = {
                    success: function(data,status){
                        if(data.status==0){
                            $(".submit-error").text(data.error);
                        }else{
                            location.href = data.next;
                        }
                    },
                    timeout: 30000
                };

                $(".submit-error").text("注册中，请等待....");

                $(".rg-form-group").ajaxSubmit(options);
                return false;
            });

        });
    </script>
</body>
</html>