<!DOCTYPE html>
<html lang="zh-CN" ng-app="rgApp" ng-controller="rgCtrl">
<head>
    <meta charset="UTF-8">
    <title>{$bbs_title}</title>
    <!-- Bootstrap -->
    <link href="__ROOT__/Application/Home/View/Index/styles/register.css" type="text/css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

        <!--导航栏 -->
    <include file="./Application/Home/View/Index/header.html" />

    <div class="wrapper">
        <div class="rg-container">
            <h3>提交资料</h3>
            <div class="step">
                <ul>
                    <li >第一步：校验邀请码</li>
                    <li >第二步：填写注册信息</li>
                    <li >第三步：提交淘宝/京东用户资料</li>
                    <li >第四步：提交店铺资料</li>
                    <li class="step-active">第五步：提交电脑配置审核</li>
                </ul>
            </div>
            <div class="rg-content">
                <form method="post" action="../user/submit_com" class="rg-form-group" enctype="multipart/form-data">
                    <table>
                        <tr class="form-item">
                            <td class="item-title">电脑1图片<big>*</big>:</td>
                            <td>
                                <input class="com1-img" name="com1-img" type="file"  placeholder="电脑1配置图">
                                <span>图片大小限制512K。</span>
                                <label class="com1-img-error"></label>
                            </td>
                        </tr>
                        <tr class="form-item">
                            <td class="item-title">电脑2图片<big>*</big>:</td>
                            <td>
                                <input class="com2-img" name="com2-img"  type="file"  placeholder="电脑2配置图">
                                <span>图片大小限制512K。</span>
                                <label class="com2-img-error"></label>
                            </td>
                        </tr>
                        <tr class="form-item">
                            <td class="item-title">两台电脑放一起图片<big>*</big>:</td>
                            <td>
                                <input class="com-to-img" name="com-to-img"  type="file"  placeholder="两台电脑放一起图片">
                                <span>图片大小限制512K。</span>
                                <label class="com-to-error"></label>
                            </td>
                        </tr>
                        <tr class="form-item">
                            <td class="item-title">两台光猫放一起图片<big>*</big>:</td>
                            <td>
                                <input class="cat-to-img" name="cat-to-img"  type="file"  placeholder="两台光猫放一起图片">
                                <span>图片大小限制512K。</span>
                                <label class="cat-to-error"></label>
                            </td>
                        </tr>

                        <tr class="form-item">
                            <td colspan="2" class="submit-error" style="padding-left: 70px; font-size:13px;color: red;">&nbsp;</td>
                        </tr>
                        <tr class="form-submit">
                            <td colspan="2">
                                <input type="submit" class="rg-submit" value="完成">
                            </td>
                        </tr>
                    </table>
                </form>

            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__ROOT__/Application/Home/View/styles/jquery/jquery.min.js"></script>
    <script src="__ROOT__/Application/Home/View/styles/jquery/jquery.form.js"></script>


    <script type="text/javascript">

        function img_verify(img,error){
            if(!$(img).val()){
                $(error).text("没有选择照片");
                return false;
            }else{
                var image= $(img)[0];
                if(image.files[0].size>512*1024){
                    $(error).text("图片大小不能超过512K.");
                    return false;
                }else{
                    $(error).text("");
                }
            }
            return true;
        }


        $(document).ready(function(){
            //身份证照片验证
            $(".com1-img").change(function(){
                img_verify(this,$(".com1-img-error"));
            });
            $(".com2-img").change(function(){
                img_verify(this,$(".com2-img-error"));
            });
            $(".com-to-img").change(function(){
                img_verify(this,$(".com-to-error"));
            });
            $(".cat-to-img").change(function(){
                img_verify(this,$(".cat-to-error"));
            });

            $(".rg-submit").click(function(){
                if(!img_verify($('.com1-img'),$(".com1-img-error"))||
                   !img_verify($('.com2-img'),$(".com2-img-error")) ||
                   !img_verify($('.com-to-img'),$(".com-to-error")) ||
                   !img_verify($('.cat-to-img'),$(".cat-to-error"))
                )
                {
                    $(".submit-error").text("资料错误，请核实后重新点击完成");
                    return false;
                }

                var options = {
                    success: function(data,status){
                        if(data.status==0){
                            $(".submit-error").text(data.error);
                        }else{
                            location.href = data.next;
                        }
                    },
                    timeout: 30000
                };

                $(".submit-error").text("提交电脑配置信息中，请等待....");

                $(".rg-form-group").ajaxSubmit(options);
                return false;
            });
        });
    </script>
</body>
</html>