<!DOCTYPE html>
<html lang="zh-CN" ng-app="rgApp" ng-controller="rgCtrl">
<head>
    <meta charset="UTF-8">
    <title>{$bbs_title}</title>
    <!-- Bootstrap -->
    <link href="__ROOT__/Application/Home/View/Index/styles/register.css"  type="text/css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style type="text/css">
    .click-show{
        background: #fff;
        text-decoration: underline;
        color:red;
    }
</style>
<body>

        <!--导航栏 -->
    <include file="./Application/Home/View/Index/header.html" />

    <div class="wrapper">
        <div class="rg-container">
            <h3>提交资料</h3>
            <div class="step">
                <ul>
                    <li >第一步：校验邀请码</li>
                    <li >第二步：填写注册信息</li>
                    <li >第三步：提交淘宝/京东用户资料</li>
                    <li class="step-active">第四步：提交店铺资料</li>
                    <li >第五步：提交电脑配置审核</li>
                </ul>
            </div>
            <div class="rg-content">
                <div>

                </div>
                <form method="post" action="../user/submit_shop" class="rg-form-group" enctype="multipart/form-data">
                    <table>
                        <tr class="form-item">
                            <td class="item-title">店铺名称<big>*</big>:</td>
                            <td>
                                <input class="name" type="text"   maxlength="18"  name="name" placeholder="店铺名称" value="">
                                <label class="account-error"></label>
                            </td>
                        </tr>
                        <tr class="form-item">
                            <td class="item-title">店铺等级:</td>
                            <td>
                                <select name="level" id="">
                                    <option value="1">1星级</option>
                                    <option value="2">2星级</option>
                                    <option value="3">3星级</option>
                                    <option value="4">4星级</option>
                                    <option value="5">5星级</option>
                                    <option value="6">1钻石</option>
                                    <option value="7">2钻石</option>
                                    <option value="8">3钻石</option>
                                    <option value="9">4钻石</option>
                                    <option value="10">5钻石</option>
                                    <option value="11">1皇冠</option>
                                    <option value="12">2皇冠</option>
                                    <option value="13">3皇冠</option>
                                    <option value="14">4皇冠</option>
                                    <option value="15">5皇冠</option>
                                    <option value="16">1金冠</option>
                                    <option value="17">2金冠</option>
                                    <option value="18">3金冠</option>
                                    <option value="19">4金冠</option>
                                    <option value="20">5金冠</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="form-item">
                            <td class="item-title">店铺照片<big>*</big>:</td>
                            <td>
                                <input name="img" class="img" type="file"  >
                                <span>图片大小限制512K。</span>
                                <button class="click-show">点击查看样图</button>
                                <label class="tb-img-error"></label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="submit-error" style="padding-left: 70px; font-size:13px;color: red;">&nbsp;</td>
                        </tr>
                        <tr class="form-submit">
                            <td colspan="2">
                                <input type="submit" class="rg-submit" value="下一步">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
        <div id="light" class="white_content" style="overflow: hidden;border: solid 1px #ccc">
            <img style="width: 100%;height: 100%;" src="__ROOT__/Application/Home/View/resource/img/shop.png" alt="">
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="__ROOT__/Application/Home/View/styles/jquery/jquery.min.js"></script>
        <script src="__ROOT__/Application/Home/View/styles/jquery/jquery.form.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script type="text/javascript">

        function tb_img_verify(){
            var path = $(".img").val();

            if(!path){
                $(".tb-img-error").text("没有选择照片");
                return false;
            }else{

                var img = $('.img')[0];
                if(img.files[0].size>512*1024){
                    $(".tb-img-error").text("图片大小不能超过512K.");
                    return false;
                }else{
                    $(".tb-img-error").text("");
                }
            }

            return true;
        }


        function account_verify(){
            var account = $(".name").val();

            if(account.length<6){
                $(".account-error").text("用户名长度过短");
                return false;

            }else{
                $(".account-error").text("");
            }

            return true;
        }

        $(document).ready(function(){

            $('.click-show').click(function(){
                $('.white_content').css('display','block');
                return false;
            });
            $('.white_content').click(function(){
                $('.white_content').css('display','none');
            });

            //输入长度校验
            $(".form-item input").bind('input propertychange',function(){
                max = $(this).attr('maxlength');
                if(!max) return;

                value = $(this).val().toString();

                if(value.length>max){
                    value = value.substr(0,max);
                    if($(this).attr('type')=='number'){
                        $(this).val(parseInt(value));
                    }else{
                        $(this).val(value);
                    }
                }
            });

            $(".name").blur(function(){
                account_verify();
            });

            //身份证照片验证
            $(".img").change(function(){
                tb_img_verify();
            });

            $(".rg-submit").click(function(){

                if(!account_verify()||!tb_img_verify())
                {
                    $(".submit-error").text("资料错误，请核实后重新点击下一步");
                    return false;
                }

                var options = {
                    success: function(data,status){
                        if(data.status==0){
                            $(".submit-error").text(data.error);
                        }else{
                            location.href = data.next;
                        }
                    },
                    timeout: 30000
                };

                $(".submit-error").text("提交店铺信息中，请等待....");

                $(".rg-form-group").ajaxSubmit(options);
                return false;
            });
        });
    </script>
</body>
</html>