<!DOCTYPE html>
<html lang="zh-CN" ng-app="articleApp" ng-controller="articleCtrl">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Bootstrap -->
    <link href="/sb/Application/Home/View/Index/styles/article_display.less" rel="stylesheet/less">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!--导航栏 -->
    <include file="./Application/Home/View/Index/header.html" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8  col-lg-offset-2">
                <div class="pg">
                    <div>
                        <h3>我发表的第一篇文章</h3>
                        <p class="info"> 发布于2015-12-10 10:50:36  作者 老大我们再等你  1123 次浏览 </p>
                        <hr>
                    </div>
                    <div class="content">
                        <p>我觉得我可以发表了</p>                    </div>

                    <div ng-init="infoList=['1','2','3','4','5']" >
                        <div  ng-repeat="info in infoList">
                            <hr>
                            <div>
                                <img src="/sb/Application/Home/View/Index/image/headlogo.jpg" class="cm-logo">
                                <span>{{info}}</span>
                                <span class="cm-tm">1楼-2015年12月5日10:17</span>
                            </div>
                            <div class="cm-info">
                                <p >
                                    楼主好顶赞！楼主英明
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <include file="./Application/Home/View/Index/footer.html" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/sb/Public/styles/bootstrap/js/bootstrap.min.js"></script>
    <script src="/sb/Public/styles/angular-1.4.0/angular.js"></script>
    <script src="/sb/Public/styles/lesscss/less.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            //初始化输入区域

        });

        var app = angular.module('articleApp', []);
        app.controller('articleCtrl', function($scope) {
            $scope.time_to_jump=3;

            $scope.blk_set=function(){
                $scope.cur_blk=this.blk;
            };
        });
    </script>
</body>
</html>